*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(135deg, rgb(199,13,228), rgb(75,216,255), rgb(75,216,255));
    display: flex;
    align-items: center;
}
.block{
    width: 85%;
    height: 85vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px 2px;
}
.text1{
    margin-top: 50px;
    font-size: 50px;
    line-height: 100px;
    /* user-select: none; */
}
.input1{
    width: 400px;
    height: 40px;
    margin-top: 40px;
    padding: 0px 10px;
}
.time{
    font-size: 50px;
    margin-top: 90px;
}
.nav{
    position: absolute;
    width: 250px;
    height: 100px;
    top: 20px;
    right: 30px;
}
.admin{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 300px;
    font-size: 40px;
    text-align: left;
}
.nav{
    font-size: 40px;
}
.modal{
    width: 40%;
    left: 30%;
    height: 330px;
    background: linear-gradient(45deg,rgb(199,13,228), rgb(255, 162, 75), rgb(75,216,255));
    box-shadow: 0px 0px 50px 10px white;
    position: absolute;
    top: 50px;
    z-index: 99;
    padding: 30px;
    display: none;
    border-radius: 10px;
}
.text2{
    width: 220px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    border-radius: 30px;
    background: linear-gradient(-135deg,rgb(199,13,228), rgb(255, 162, 75), rgb(75,216,255));
    box-shadow: 0px 0px 30px 5px white;
    color: black;
    font-weight: bold;
}
.text3{
    height: 60px;
    color: black;
    border: 1px solid white;
    font-size: 40px;
    line-height: 54px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 40px;
    box-shadow: 0px 0px 30px 5px white;
    font-weight: bold;
}
.btn{
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 25px;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
select{
    width: 140px;
    height: 30px;
    margin-top: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}